*{
	font-family: sans-serif;
}


body, html{
	margin: 0;
}

#heading{
	/*from uigradients.com*/
	height: 100vh;

	background: #f12711;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

b{
	font-size: 32px;
}


#banner{
	height: calc(100vh - 48px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

}

.topnav{
	background-color: black;
	overflow: hidden;
}

.topnav a{
	float: left;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
	text-decoration: none;
	color: white;
}

.topnav a.active{
	background-color: orange;
}


#searchbutton{
	background-color:orange;
	color:black;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	border-radius: 10px;
	text-decoration: none;
}

#searchbutton:hover, #searchbutton:active{
	background-color: #f12711;
}